/* App.css */

.App {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Warna latar belakang */
  min-height: 100vh; /* Set tinggi minimal sesuai tinggi layar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: #999;
}

.news-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Konten rata kiri */
  width: 100%;
  max-width: 800px; /* Lebar maksimum untuk daftar berita */
}

.news-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.news-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 24px; /* Ukuran font untuk judul */
}

.news-item p {
  margin: 5px 0;
  color: #666;
  font-size: 16px; /* Ukuran font untuk teks */
}

.news-item p strong {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  color: #333;
}